[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=https://gitlab.com/w0lff/shikane
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/shikane

[Install]
WantedBy=sway-session.target
