[Unit]
Description=Sway idle management daemon
Documentation=https://github.com/swaywm/swayidle
BindsTo=sway-session.target

[Service]
Type=simple
### Idle configuration
# This will lock your screen after 300 seconds of inactivity.
# It will also lock your screen before your computer goes to sleep.
ExecStart=/usr/bin/swayidle -w \
    timeout 300 'swaylock -f -c 000000' \
    before-sleep 'playerctl pause' \
    before-sleep 'swaylock -f -c 000000'

[Install]
WantedBy=sway-session.target
