/*
 * To debug:
 *   env GTK_DEBUG=interactive waybar -l debug
 * Colors:
 *   https://camo.githubusercontent.com/410b3ab80570bcd5b470a08d84f93caa5b4962ccd994ebceeb3d1f78364c2120/687474703a2f2f692e696d6775722e636f6d2f776136363678672e706e67
*/

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DinaRemasterII;
    font-size: 22px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px #282828;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(40, 40, 40, 0.2);
    box-shadow: inset 0 -3px #ebdbb2;
}

#workspaces button.urgent {
    background-color: #ea6962;
}

#workspaces button.persistent {
}

/* Workspace is on this output (contextual based on output) */
/* Using "all-outputs": false to denote this better than a color */
#workspaces button.current_output {
}

/* Workspace is visible */
#workspaces button.visible {
    box-shadow: inset 0 -3px #ebdbb2;
}

/* Workspace is currently focused */
#workspaces button.focused {
    box-shadow: inset 0 -3px #89b482;
}

#workspaces button.focused {
    color: #282828;
    background-color: #89b482;
}

#mode {
    padding: 0 10px;
    color: #282828;
    background-color: #89b482;
    box-shadow: inset 0 -3px #ebdbb2;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

.modules-right {
    /*background: #ebdbb2;*/
}

#workspaces,
#network,
#cpu,
#memory,
#disk,
#battery,
#pulseaudio,
#wireplumber,
#clock,
#custom-notification,
#idle_inhibitor,
#tray {
    background-color: #282828;
}

#network,
#cpu,
#memory,
#disk,
#battery,
#pulseaudio,
#wireplumber {
    padding: 0 15px;
    margin: 0 0px;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #ebdbb2;
    border-radius: 10px;
}

/* Last module group */
#custom-notification {
    padding: 0 15px;
    margin: 0 0px;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #ebdbb2;
    border-radius: 10px 0px 0px 10px;
}
#tray {
    padding: 0 13px 0 0;
}

/* Manage differences across outputs of clock styling */
/* Default */
#clock {
    padding: 0 5px;
    margin: 0 0px;
}
/* Primary bar */
.eDP-1 #clock {
    padding: 0 15px;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #ebdbb2;
    border-radius: 10px;
}
